* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	font-family: 'Ubuntu', sans-serif; 
	color: #142957;
}
a {
	text-decoration: none;
}
input {
	height: 45px;
	width: 100%;
	color: #142957;
	font-size: 14px;
	line-height: 16px;
	border-radius: 8px;
	padding-left: 25px;
	outline: none;
}
input.correct{
	border: 1px solid #DDDDDD;
}
input.error{
	border: 1px solid #FF5756;
}
.sign-in-input{
	padding-left: 43px;
	border: 1px solid #DDDDDD;
}
select{
	height: 45px;
	width: 240px;
	font-size: 14px;
	line-height: 16px;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	padding: 0 25px;
}
select:required:not(:disabled) {
	color: #757575;
 }
 option[value=""][disabled] {
	display: none;
 }
 option {
	color: #142957;
 }
main {
	background: #F1F5FE;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.logo{
	text-align: center;
	margin-bottom: 50px;
}
.index-form-container {
	position: relative;
	/* z-index: 2; */
	/* max-width: 560px; */
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}
.index-form-container.registration{
	padding: 32px;
}
.index-form-container.sign-in{
	padding: 40px 30px;
}
.form-title {
	color: #142957;
	font-size: 20px;
	line-height: 23px;
	font-weight: 700;
}
.success-title{
	margin-bottom: 20px; 
	display: flex;
	align-items: center; 
	justify-content: center;
}


.form-title.title-sign-in{
	margin-bottom: 19px;
}
.form-title.title-recovery{
	margin-bottom: 24px;
}
.form-fields{
	position: relative;
	/* width: 500px; */
}
.form-field {
	margin-bottom: 13px;
	position: relative;
}
.form-field:last-child{
	margin-bottom: 0px;
}
.success-text{
	color: #142957;
	display: flex;
	justify-content: center;
	position: relative;
}
.correctInput{
	border: 1px solid #1FD11B;
}
.button {
	width: 240px;
	font-weight: 700;
	font-size: 14px;
	display:block;
	height: 45px;
	background: #5775D1;
	border-radius: 5px;
	color:#fff;
	text-transform: uppercase;
	text-align: center;
	line-height: 45px;
	cursor: pointer;
	border: none;
	margin: 0 auto;
	display: block;
	margin-top: 32px;
}
.button:disabled{
	background: #819df3;
}
.divider {
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #405D87;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.password-control {
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/eye.svg) 0 0 no-repeat;
	top: 13px;
	right: 23px;
}
.password-control.view {
	background: url(../img/eye-off.svg) 0 0 no-repeat;
}

.img{
	position: absolute;
	padding: 11px;
}



.container {
	font-family: 'Ubuntu';
	display: inline-block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #142957;
	font-style: normal;
	line-height: 20px;
	margin: 32px 0;
 }
 
 .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
 }
 
 .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 24px;
	width: 24px;
	background-color: #fff;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
 }
 

 .container input:checked ~ .checkmark {
	background-color: #5775D1;
	border: none;
	border-radius: 4px;
 }
 
 .checkmark:after {
	content: "";
	position: absolute;
	display: none;
 }
 
 .container input:checked ~ .checkmark:after {
	display: block;
 }
 
 .container .checkmark:after {
	left: 8px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.forgot{
	position: absolute;
	right: 0;
	color: #5775D1;
	font-size: 14px;
	margin: 32px 0;
}
.recovery{
	color: #142957;
	font-size: 14px;
}
.errorTip{
	font-size: 12px;
	color: #FF5756;
}
.alert-circle{
	position: absolute;
	padding: 11px;
	right: 8px;
		
}
.alert-circle:first-child{
	bottom: 27px;
}
.crm{
	display: flex;
	justify-content: space-between;
	background: #FFFFFF;
	box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	width: 496px;
	height: 64px;
	padding: 22px 22px 22px;
	margin: 25px 0;
	color: #142957;
	cursor: pointer;
}
.crm:hover{
	background: #e0ebff;
}





/* Default select */

#default-select {
	display: none;
}

.custom-select-style {
	width: 25px;
	height: 20px;
	cursor: pointer;
	font-size: 14px;
	background-color: #fff;
	border-bottom: 1px solid #142957;
	/* border-radius: 3px; */
	display: flex;
	padding: 0.5em;
	align-items: center;
	position: relative;
	color: #142957;
	padding-left: 3px;
}
.custom-select-style .error{
	border: 1px solid #FF5756;
}
.select-value{
	font-weight: 400;
}

.custom-select-style::after {
	display: flex;
	/* content: "▼"; */
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	position: absolute;
	width: 40px;
	height: 40px;    
	right:5px;
}

.content-up::after {
	/* content: "▲"; */
	width: 40px;
	height: 40px;
}

/* =========== */

.custom-list {
	width: 25px;
	min-height: 60px;
	font-weight: 500;
	height: 100%;
	right: 0px;
	/* z-index: 100; */
	position: absolute;
	top: 20px;
	display: none;
	border-bottom: 1px solid #142957;
	/* border-radius: 8px; */
	background-color: #fff; 
}

.custom-list-visible {
	display: block;
}

.custom-list-element {
	width: auto;
	height: 20px;
	cursor: pointer;
	/* border-radius: 8px; */
	background-color: #fff;
	border-bottom: 1px solid #142957;
	display: flex;
	/* padding-left: 1em; */
	padding-left: 3px;
	justify-content: left;
	align-items: center;
	color: #142957;
}

/* .custom-list-element:first-child {
	border-radius: 7px 7px 0 0;
}
.custom-list-element:last-child{
	border-radius: 0 0 8px 8px;
	border: none;
} */
/* .custom-list-element:first-child:hover{
	background-color: #fff;
} */
.custom-list-element:hover {
	background-color: #e0ebff;    
}
/* .select-value[name="placeholderCountry"]{
	color: #757575;
} */


.translate_wrapper{
	top:20px;
	left:20px;
	font-size:14px;
	background:#fff;  
	border-radius:4px;
	color: #142957;
	z-index: 1;
  }
  
  .current_lang{
	cursor:pointer;
	text-transform:uppercase;
	overflow:hidden;
  }
  
  .lang, .translate_wrapper.active .lang{
	  /* padding:10px 15px; */
	  border-bottom: 1px solid #142957;
  }
  
  .lang.selected{
	display:none;
  }
  
  .lang img, 
  .lang span.lang-txt{
	display:inline-block;
	margin-left:5px;
	vertical-align:middle;
  }
  
  .lang span.lang-txt{
	position:relative;
	top:-1px;
	/* font-weight:700; */
  }
  
  .lang span.fa{
	font-size:12px;
	position:relative;
	top:-1px;
	margin-left:3px;
  }
  
  
  /*more lang*/
  .more_lang{
	transform:translateY(-20px);
	background-color: #fff;
	opacity:0;
	cursor:pointer;
	display:none;
	 -webkit-transition: all .3s cubic-bezier(.25, 1.15, .35, 1.15);
	  -moz-transition:    all .3s cubic-bezier(.25, 1.15, .35, 1.15);
	  -o-transition:      all .3s cubic-bezier(.25, 1.15, .35, 1.15);
	  -ms-transition:     all .3s cubic-bezier(.25, 1.15, .35, 1.15);
	  transition:         all .3s cubic-bezier(.25, 1.15, .35, 1.15);
  }
  
  .translate_wrapper.active .more_lang{
	display:block;
	position: relative;
    z-index: 1000;
  }
  
  .more_lang.active{
	opacity:1;
	 transform:translateY(-0px);
  }
  
  .more_lang .lang:hover{
	background:#5766b2;
	color:#fff;
  }
  
  .more_lang .lang:hover span{
	color:#fff;
  }
  
  /* .translate_wrapper:hover,
  .translate_wrapper.active,
  .content a:hover{
	box-shadow:rgba(0,0,0,0.2) 0 5px 15px;  
	-webkit-transition: all 0.3s cubic-bezier(0,.99,.44,.99);
	  -moz-transition:    all 0.3s cubic-bezier(0,.99,.44,.99);
	  -o-transition:      all 0.3s cubic-bezier(0,.99,.44,.99);
	  -ms-transition:     all 0.3s cubic-bezier(0,.99,.44,.99);
	  transition:         all 0.3s cubic-bezier(0,.99,.44,.99);
	
  } */

  @media (min-width: 1100px) {
	.index-form-container{
		max-width: 560px;
	}
	input{
		width: 496px
	}
	.form-fields{
		width: 500px;
	}
	.alert-circle{
		bottom: none;
	}
  }